[Service]
After=net.service
ExecStart=/usr/bin/bootmanager_server
ExecStop=/bin/sh -c "printf 'stop\n' >/var/run/bootmanager/input"
Type=oneshot
[Install]
WantedBy=multi-user.target
